body{
  display: block;
  margin: 1.5%;
}
/* navigation/Header */
.nav{
  align-items: flex-start;
  text-align: center;
  text-align: left;
}

.Top{
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
}

.home{

  font-family: 'Inter';
  font-size: 33px;
}

.aboutNav{
  font-family: 'Inter';
  font-size: 33px;
}

.instru{
  font-family: 'Inter';
  font-size: 33px;
}

.con{
  position: absolute;
  left: 45%;
  top: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

.language{
  position: absolute;
left: 1334px;
top: 23px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
}

.Section1{
  text-align: center;
}

/* About Me */
.about{
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-top: 4%;
}

.about-video-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

video {
  margin-top: 3%;
  margin-left: 2%; 
  width: 90%; 
}

.text {
  margin: 2%;
  width: 80%; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}


.HowItWorks{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* Bottom Contact */
.contactInfo{ 
  margin: 0;
  color: aliceblue;
  background-color: rgb(18, 18, 18);
  font-size: 30px;
  }
  
  .contactInfo li {
    display: inline-block;
    width: 49.7%; 
    margin: 0;
  }

  .footer{
    /* display: block; */
    text-align:left;
    color: aliceblue;
    background-color: black;
  }